/* Los styles están dividos
segun las siguiente regla:

Divisones: Son las divisiones generales de la páginas
Imagenes-Videos: Tienen su propia ID, menos los de la división 3 que están hechos por clase
pos_***: Es el estilo que posiciona **** (Generalmente usado por posicionar subtitulos)
*nombre directo (Ejemplo : #rutina): Son usados para posicionar textos-parrafos-listas


Las clases fueron utilizadas mayormente para repetir patrones de estilo.
*/

body{
    background: white;
}

#cabecera{
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
}

#cabecera{
    background: #ff637d;
}

#division1{
    background: #F4F1BB;
    width: 50%;
    height:38ch;
    float: left;
}

#division2{
    background: #eaf2e3;
    width: 50%;
    height:38ch;
    float:right;
}

#division3 {
    background: #66D7D1;
    width: 100%;
    height:42ch;
    float: left;
}

#division4{
    background: #eaf2e3;
    width: 65%;
    height:36ch;
    float: left;
}

#division5{
    background: #F4F1BB;
    width: 35%;
    height:36ch;
    float: right;
}

#Imagen1{
    margin-left: 10%;
    margin-top: 4%;
    width: 250px;
    height: 250px;
    float: left;
}

#video{
    width: 46%;
    height: 66%;
    border-radius: 12px;
    margin-top: -4%;
    margin-right: 9%;
    float: right
}
.padding{
    padding: 20px;
    text-align: center;
}

.img{
    width: 21%;
    height: 18%;
    border: 2px dashed #ff637d;
    padding: 20px;
    margin-left: 10%
}

.Tipo{
    color: rgba(6,6,6,0.83);
    font-family: 'Amatic SC', cursive;
}

.Tipo_Listas{
    color: rgba(6,6,6,0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.epigrafe{
    color: rgba(6,6,6,0.83);
    font-family: 'Amatic SC', cursive;
    margin-top: 0%;
    margin-left: 4%;
    text-align: center;
    float: left;
    margin-right: 47%;
}

.horas{
    padding: 7px;
    border: 2px dashed #ff637d ;
    border-radius: 10px;
}

.Canvas{
    width: 65%;
    height: 68%;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 19%;
    margin-top: 0%;
}

#Pos_sub1{
    margin-top: 6%;
    margin-left: 15%;
    float: left;
}

#Pos_sub2{
    margin-top: 6%;
    margin-left: 11%;
}

#pos_ejer{
    margin-left: 8%;
    margin-right: 63%;
    margin-top: 5%;
}

#pos_sir{
    text-align: center;
    margin-right: 9%;
    margin-left: 44%;
    border: 2px dashed #ff637d;
    font-size: 20px;
    margin-top: 14%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#pos_habitos{
    text-align: center;
    color: rgba(6, 6, 6, 0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

#pos_rutina{
    float: left;
    width: 14%;
    margin-left: 32%
}

#rutina{
    margin-left: 18%;
    float: left;
}

#pos_ejercicio{
    float: left;
    width: 14%;
}

#ejercicio {
    margin-left: 18%;
    float: left;
}

#pos_dormir{
    float: left;
    width: 14%;
}

#dormir{
    margin-left: 16%;
    float: left;
}

#pos_imp{
    text-align: center;
}

#pos_formulario{
    margin-top: 4%;
    margin-left: 7%;
}

#lista{
    margin-left: 32%;
    margin-top: 3%;
    margin-right: 6%;
}

#horarios{
    text-align: center;
    color: rgba(6, 6, 6, 0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 21px;
    margin-left: 9%;
    float: left;
    width: 14%;
    margin-top: 0%;
}
#boton_horarios{
    color: rgba(6, 6, 6, 0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 21px;
    margin-top: 12px;
}

#graf{
    text-align: center;
}