#cabecera{
    text-align: center;
    color: aliceblue;
    font-family: 'Amatic SC', cursive;
}

#cabecera{
    background: #ff637d;
}
#division1{
    background: #eaf2e3;
    bottom: 65%;
    right: 78%;
    width: 50vw;
    height:35vh;
}

#Imagen1{
    position: fixed;
    bottom: 62%;
    right: 77%;
    width: 400px;
    height:250px;
}

#Subtitulo1{
    position: fixed;
    bottom: 80%;
    right: 68%;
    color: black;
    font-family: 'Amatic SC', cursive;
}

#paraquesirve{
    border: 2px dashed #ff637d ;
    position: absolute;
    bottom: 63%;
    right: 51%;
    font-family: 'Amatic SC', cursive;
    padding: 20px;
    font-size: 20px;
}