#cabecera{
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
}

#cabecera{
    background: #ff637d;
}

#division1{
    background: #F4F1BB;
    width: 943px;
    height:35vh;
    float: left;
}

#division2{
    background: #eaf2e3;
    width: 943px;
    height:35vh;
    float:right;
}

#division3 {
    background: #66D7D1;
    width: 1887px;
    height:35vh;
    float: left;
}

#division4{
    background: #eaf2e3;
    width: 65vw;
    height:350px;
    float: left;
}

#division5{
    background: #F4F1BB;
    width: 33vw;
    height:350px;
    float: right;
}

#Imagen1{
    position: absolute;
    bottom: 62%;
    right: 82%;
    width: 250px;
    height:250px;
}

#video{
    position: absolute;
    bottom: 62%;
    right: 6%;
    width: 400px;
    height:250px;
    border-radius: 15px;
}
.padding{
    padding: 20px;
    text-align: center;
}

.img{
    width: 100px;
    height:100px;
    border: 2px dashed #ff637d ;
    padding: 20px;
}

.Tipo{
    position: absolute;
    color: rgba(6,6,6,0.83);
    font-family: 'Amatic SC', cursive;
}

.Tipo_Listas{
    color: rgba(6,6,6,0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.epigrafe{
    position: absolute;
    color: rgba(6,6,6,0.83);
    font-family: 'Amatic SC', cursive;
    padding: 15px;
}

.horas{
    padding: 15px;
    border: 2px dashed #ff637d ;
    border-radius: 15px;
}

#Pos_sub1{
    bottom: 80%;
    right: 68%;
}

#Pos_sub2{
    bottom: 80%;
    right:42%;
}

#pos_ejer{
    margin-left: 53%;
    margin-right: 2%;
    position: absolute;
    bottom: 67%;
    right: 30%;
}

#pos_sir{
    text-align: center;
    margin-right: 24%;
    margin-left: 24%;
    border: 2px dashed #ff637d ;
    bottom: 65%;
    right: 29%;
    font-size: 20px;
}

#pos_habitos{
    text-align: center;
    color: rgba(6, 6, 6, 0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

#pos_rutina{
    position: absolute;
    bottom:34%;
    right: 67%;
}


#rutina{
    bottom:-45%;
    right: 24%;
    padding: 20px;
}

#pos_ejercicio{
    position: absolute;
    bottom:34%;
    right: 46%;
}

#ejercicio{
    bottom:-45%;
    right: 24%;
    padding: 20px;
}

#pos_dormir{
    position: absolute;
    bottom:34%;
    right: 25%;
}

#dormir{
    bottom:-45%;
    right: 24%;
    padding: 20px;
}

#pos_imp{
    bottom: 12%;
    right:61%;
}

#lista{
    position: absolute;
    bottom: -8%;
    right:38%;
    margin-left: 21%;
}

#horarios{
    text-align:center;
    bottom: -10%;
    right:79%;
    position: absolute;
    color: rgba(6, 6, 6, 0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    padding: 35px;
    margin-left: 2%;
}
#boton_horarios{
    color: rgba(6, 6, 6, 0.83);
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}